<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriconneReTLAutoUpdaterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PriconneReTLAutoUpdaterApp.Properties.Settings>
            <setting name="githubApi" serializeAs="String">
                <value>https://api.github.com/repos/ImaterialC/PriconneRe-TL</value>
            </setting>
            <setting name="configFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx/config/AutoTranslatorConfig.ini</string>
                        <string>BepInEx/config/BepInEx.cfg</string>
                        <string>BepInEx/config/PriconneTLFixup.cfg</string>
                        <string>BepInEx/config/com.sinai.unityexplorer.cfg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ignoreFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx/Translation/en/Text/_AutoGeneratedTranslations.txt</string>
                        <string>BepInEx/Translation/en/Text/_Postprocessors.txt</string>
                        <string>BepInEx/Translation/en/Text/_Preprocessors.txt</string>
                        <string>BepInEx/Translation/en/Text/_Substitutions.txt</string>
                        <string>winhttp.dll</string>
                        <string>BepInEx/plugins/PriconneTLFixup.dll</string>
                        <string>BepInEx/plugins/XUnity.AutoTranslator/XUnity.AutoTranslator.Plugin.Core.dll</string>
                        <string>BepInEx/plugins/UnityExplorer.BIE.Unity.IL2CPP.CoreCLR.dll</string>
                        <string>BepInEx/plugins/UniverseLib.BIE.IL2CPP.Interop.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ignoreFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>dotnet</string>
                        <string>BepInEx/core</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PriconneReTLAutoUpdaterApp.Properties.Settings>
    </applicationSettings>
</configuration>